@model IEnumerable<TotalHRInsight.DAL.PedidosProductos>

@{
    ViewData["Title"] = "Indice PedidosProducto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Pedidos & Productos</h1>

<p>
    <a asp-action="Create">Crear nuevo registro</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Medida)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Producto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pedido)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Medida)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Producto.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pedido.EstadoPedido)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PedidosProductosID">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.PedidosProductosID">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.PedidosProductosID">Eliminar</a> |
                <a asp-action="" asp-route-id="@item.PedidosProductosID">Descargar</a>
            </td>
        </tr>
}
    </tbody>
</table>
