@model TotalHRInsight.DAL.Permiso

@{
    ViewData["Title"] = "Eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Eliminar</h1>

<h3>¿Estás seguro de que deseas eliminar esto?</h3>
<div>
    <h4>Permiso</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaInicio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaInicio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaFin)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaFin)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TipoPermiso)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TipoPermiso)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CantidadDias)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CantidadDias)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UsuarioCrecionId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UsuarioCrecionId)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="idPermisos" />
        <button type="submit" class="btn btn-danger">Eliminar</button> |
        <a asp-action="Index">Volver a la Lista</a>
    </form>
</div>
