@model TotalHRInsight.DAL.Planilla

@{
    ViewData["Title"] = "Eliminar Planilla";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">Eliminar Planilla</h1>
<hr />
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-sm">
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.FechaInicio)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.FechaInicio)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.FechaFin)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.FechaFin)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.MontoTotal)
                        </dt>
                        <dd class="col-sm-8">
                            ₡ @Html.DisplayFor(model => model.MontoTotal)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.UsuarioCreacion)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.UsuarioCreacion.Nombre) @Html.DisplayFor(model => model.UsuarioCreacion.PrimerApellido) @Html.DisplayFor(model => model.UsuarioCreacion.SegundoApellido)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.UsuarioAsignacion)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.UsuarioAsignacion.Nombre) @Html.DisplayFor(model => model.UsuarioAsignacion.PrimerApellido) @Html.DisplayFor(model => model.UsuarioAsignacion.SegundoApellido)
                        </dd>
                    </dl>
                    <form asp-action="Delete" method="post">
                        <input type="hidden" asp-for="IdPlanilla" />
                        <div class="d-flex justify-content-between mt-4">
                            <a asp-action="Index" class="btn btn-secondary me-2" style="flex: 1;" onclick="showLoader()">
                                <i class="bi bi-arrow-left-circle"></i> Regresar
                            </a>
                            <button type="submit" class="btn btn-danger ms-2" style="flex: 1;" onclick="showLoader()">
                                <i class="bi bi-trash3-fill"></i> Eliminar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Partial("_LoaderModal")

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.js"></script>
    <script src="~/js/loader.js"></script>
}
