@model IEnumerable<TotalHRInsight.DAL.Planilla>

@{
    ViewData["Title"] = "Indice Planilla";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>
    Planillas
    <a asp-action="Create" class="btn btn-crear">
        <i class="bi bi-plus-circle"></i> Crear nuevo registro
    </a>
</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FechaInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaFin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MontoTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsuarioCreacionId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdAsistencia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdPermiso)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaFin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MontoTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsuarioCreacionId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdAsistencia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdPermiso)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.IdPlanilla" class="btn btn-sm btn-warning">
                        <i class="bi bi-pencil-square"></i> Editar
                    </a>
                    |
                    <a asp-action="Details" asp-route-id="@item.IdPlanilla" class="btn btn-sm btn-info">
                        <i class="bi bi-info-circle"></i> Detalles
                    </a>
                    |
                    <a asp-action="Delete" asp-route-id="@item.IdPlanilla" class="btn btn-sm btn-danger">
                        <i class="bi bi-trash"></i> Eliminar
                    </a>
                    |
                    <a asp-action="Download" asp-route-id="@item.IdPlanilla" class="btn btn-sm btn-success">
                        <i class="bi bi-download"></i> Descargar
                    </a>
            </td>
        </tr>
}
    </tbody>
</table>
@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.js"></script>
}
