@model IEnumerable<TotalHRInsight.DAL.Producto>

@{
    ViewData["Title"] = "Indice Producto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>
    Productos
    <a asp-action="Create" class="btn btn-crear">
        <i class="bi bi-plus-circle"></i> Crear nuevo registro
    </a>
</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreProducto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CantidadDisponible)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Unidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaVencimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecioUnitario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreProducto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CantidadDisponible)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Unidad)
            </td>
            <td>
                    @item.FechaVencimiento.ToString("dd-MM-yyyy")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioUnitario)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.IdProducto" class="btn btn-sm btn-warning">
                        <i class="bi bi-pencil-square"></i> Editar
                    </a>
                    |
                    <a asp-action="Details" asp-route-id="@item.IdProducto" class="btn btn-sm btn-info">
                        <i class="bi bi-info-circle"></i> Detalles
                    </a>
                    |
                    <a asp-action="Delete" asp-route-id="@item.IdProducto" class="btn btn-sm btn-danger">
                        <i class="bi bi-trash"></i> Eliminar
                    </a>
                    |
                    <a asp-action="Download" asp-route-id="@item.IdProducto" class="btn btn-sm btn-success">
                        <i class="bi bi-download"></i> Descargar
                    </a>
            </td>
        </tr>
}
    </tbody>
</table>
@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.js"></script>
}