@model IEnumerable<TotalHRInsight.DAL.Pedido>

@{
    ViewData["Title"] = "Indice Pedido";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>
    Pedidos
    <a asp-action="Create" class="btn btn-crear">
        <i class="bi bi-plus-circle"></i> Crear nuevo registro
    </a>
</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FechaPedido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstadoPedido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MontoTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sucursal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsuarioCreacion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaPedido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstadoPedido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MontoTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sucursal.NombreSucursal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsuarioCreacion.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdPedido" class="btn btn-sm btn-warning">
                <i class="bi bi-pencil-square"></i> Editar
                </a>
                |
                <a asp-action="Details" asp-route-id="@item.IdPedido" class="btn btn-sm btn-info">
                <i class="bi bi-info-circle"></i> Detalles
                </a>
                |
                <a asp-action="Delete" asp-route-id="@item.IdPedido" class="btn btn-sm btn-danger">
                <i class="bi bi-trash"></i> Eliminar
                </a>
                |
                <a asp-action="Download" asp-route-id="@item.IdPedido" class="btn btn-sm btn-success">
                <i class="bi bi-download"></i> Descargar
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.js"></script>
}