@model TotalHRInsight.DAL.Ingreso

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Ingreso</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MontoIngreso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MontoIngreso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CierreCaja)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CierreCaja.UsuarioCreacionId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoIngreso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoIngreso.NombreIngreso)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdIngreso">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
