@model IEnumerable<TotalHRInsight.DAL.Ingreso>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MontoIngreso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CierreCaja)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoIngreso)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MontoIngreso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CierreCaja.UsuarioCreacionId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoIngreso.NombreIngreso)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdIngreso">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdIngreso">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdIngreso">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
