@model TotalHRInsight.DAL.Producto

@{
    ViewData["Title"] = "Eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .btn-inicio {
        background-color: #B42D29;
        border-color: #B42D29;
        color: #FAFCFD;
    }
</style>

<h1>Eliminar Producto</h1>

<h3>¿Estás seguro de que deseas eliminar esto?</h3>
<div>
    <h4>Producto</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Nombre del Producto
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NombreProducto)
        </dd>
        <dt class="col-sm-2">
            Descripción
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class="col-sm-2">
            Cantidad Disponible
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CantidadDisponible)
        </dd>
        <dt class="col-sm-2">
            Fecha de Vencimiento
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaVencimiento)
        </dd>
        <dt class="col-sm-2">
            Precio Unitario
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PrecioUnitario)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="IdProducto" />
        <button type="submit" class="btn btn-inicio">Eliminar</button> |
        <a asp-action="Index">Volver a la Lista</a>
    </form>
</div>
