@model TotalHRInsight.DAL.Producto

@{
    ViewData["Title"] = "Eliminar Producto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">Eliminar Producto</h1>
<hr />
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm">
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.NombreProducto)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.NombreProducto)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.CategoriaId)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.CategoriaId)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.FechaVencimiento)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.FechaVencimiento)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.PrecioUnitario)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.PrecioUnitario)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Medidas)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Medidas.NombreMedida)
                        </dd>
                    </dl>
                    <form asp-action="Delete">
                        <input type="hidden" asp-for="IdProducto" />
                        <div class="d-grid gap-2 mb-3">
                            <button type="submit" class="btn btn-danger btn-block">
                                <i class="bi bi-trash"></i> Eliminar
                            </button>
                        </div>
                    </form>
                    <div class="text-center">
                        <a asp-action="Index" class="btn btn-secondary">
                            <i class="bi bi-arrow-left-circle"></i> Regresar
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
