@model IEnumerable<TotalHRInsight.DAL.Producto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="mt-4">
    <h1 class="d-inline">Lista de Productos</h1>
    <div class="float-end">
        <a asp-action="Create" class="btn btn-danger">
            <i class="bi bi-plus-circle"></i> Crear nuevo registro
        </a>
        <a asp-action="ExportToExcel" class="btn btn-success ms-2">
            <i class="bi bi-download"></i> Descargar datos
        </a>
    </div>
</div>
<hr />

<div class="row row-cols-1 row-cols-md-3 g-4">
    @foreach (var item in Model)
    {
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.NombreProducto)</h5>
                    <p class="card-text">@Html.DisplayNameFor(m => m.Descripcion): <class ="card-text">@Html.DisplayFor(modelItem => item.Descripcion)</p>
                    <p class="card-text">@Html.DisplayNameFor(m => m.FechaVencimiento): <class ="card-text">@Html.DisplayFor(modelItem => item.FechaVencimiento)</p>
                    <p class="card-text">@Html.DisplayNameFor(m => m.PrecioUnitario): <class ="card-text">@Html.DisplayFor(modelItem => item.PrecioUnitario)</p>
                    <p class="card-text">@Html.DisplayNameFor(m => m.Medidas): <class ="card-text">@Html.DisplayFor(modelItem => item.Medidas.NombreMedida)</p>
                    <div class="text-end">
                        <a asp-action="Edit" asp-route-id="@item.IdProducto" class="btn btn-warning">
                            <i class="bi bi-pencil-square"></i> Editar
                        </a>
                        <a asp-action="Details" asp-route-id="@item.IdProducto" class="btn btn-info">
                            <i class="bi bi-info-circle"></i> Detalles
                        </a>
                        <a asp-action="Delete" asp-route-id="@item.IdProducto" class="btn btn-danger">
                            <i class="bi bi-trash"></i> Eliminar
                        </a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>


@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.js"></script>
}
