@model TotalHRInsight.DAL.Permiso

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1 class="text-center">Eliminar Permiso</h1>
<hr />
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm">
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.FechaInicio)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.FechaInicio)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.FechaFin)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.FechaFin)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.CantidadDias)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.CantidadDias)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Comentario)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Comentario)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.MotivoAdmin)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.MotivoAdmin)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.IdTipoPermiso)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.IdTipoPermiso)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.UsuarioCreacion)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.UsuarioCreacion.Id)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.UsuarioAsignacion)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.UsuarioAsignacion.Id)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Estado)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Estado.EstadoSolicitud)
                        </dd>

                    </dl>
                    <form asp-action="Delete">
                        <input type="hidden" asp-for="IdPermisos" />
                        <div class="d-grid gap-2 mb-3">
                            <button type="submit" class="btn btn-danger btn-block">
                                <i class="bi bi-trash"></i> Eliminar
                            </button>
                        </div>
                    </form>
                    <div class="text-center">
                        <a asp-action="Index" class="btn btn-secondary">
                            <i class="bi bi-arrow-left-circle"></i> Regresar
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
