@model TotalHRInsight.DAL.Permiso

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1 class="text-center">Detalles de Permiso</h1>
<hr />
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm">
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.FechaInicio)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.FechaInicio)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.FechaFin)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.FechaFin)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.CantidadDias)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.CantidadDias)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Comentario)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Comentario)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.MotivoAdmin)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.MotivoAdmin)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.IdTipoPermiso)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.IdTipoPermiso)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.UsuarioCreacion)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.UsuarioCreacion.Id)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.UsuarioAsignacion)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.UsuarioAsignacion.Id)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Estado)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Estado.EstadoSolicitud)
                        </dd>

                    </dl>
                    <div class="d-grid gap-2">
                        <a asp-action="Edit" asp-route-IdSucursal="@Model?.IdPermisos" class="btn btn-warning">
                            <i class="bi bi-pencil-square"></i> Editar
                        </a>
                        <a asp-action="Index" class="btn btn-secondary">
                            <i class="bi bi-arrow-left-circle"></i> Regresar
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
