@model TotalHRInsight.DAL.Asistencia

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">Eliminar Asistencia</h1>
<hr />
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm">
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.FechaEntrada)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.FechaEntrada)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.FechaSalida)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.FechaSalida)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.UbicacionEntrada)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.UbicacionEntrada)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.UbicacionSalida)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.UbicacionSalida)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.UsuarioCreacion)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.UsuarioCreacion.Id)
                        </dd>
                    </dl>
                    <form asp-action="Delete">
                        <input type="hidden" asp-for="IdAsistencia" />
                        <div class="d-grid gap-2 mb-3">
                            <button type="submit" class="btn btn-danger btn-block">
                                <i class="bi bi-trash"></i> Eliminar
                            </button>
                        </div>
                    </form>
                    <div class="text-center">
                        <a asp-action="Index" class="btn btn-secondary">
                            <i class="bi bi-arrow-left-circle"></i> Regresar
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}