@model TotalHRInsight.DAL.Asistencia

@{
    ViewData["Title"] = "Detalles Asistencia";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Detalles</h1>

<div>
    <h4>Asistencia</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaEntrada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaEntrada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaSalida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaSalida)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsuarioCrecionId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsuarioCrecionId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.idAsistencia">Editar</a> |
    <a asp-action="Index">Atrás</a>
</div>
