@model IEnumerable<TotalHRInsight.DAL.Asistencia>

@{
    ViewData["Title"] = "Registro Asistencia";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Registro de Asistencia</h1>

<p>
    <a asp-action="Create">Nuevo Registro</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FechaEntrada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaSalida)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsuarioCrecionId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaEntrada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaSalida)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsuarioCrecionId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.idAsistencia" class="btn btn-primary">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.idAsistencia" class="btn btn-success">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.idAsistencia" class="btn btn-danger">Eliminar</a>

            </td>
        </tr>
}
    </tbody>
</table>
