@model TotalHRInsight.DAL.Pedido

@{
    ViewData["Title"] = "Eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .btn-inicio {
        background-color: #B42D29;
        border-color: #B42D29;
        color: #FAFCFD;
    }
</style>

<h1>Eliminar Pedido</h1>

<h3>¿Estás seguro de que quieres eliminar esto?</h3>
<div>
    <h4>Pedido</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaPedido)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaPedido)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CantidadPedido)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CantidadPedido)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MontoTotal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MontoTotal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UsuarioCrecionId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UsuarioCrecionId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdSucursal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdSucursal)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdPedido" />
        <button type="submit" class="btn btn-inicio">Eliminar</button> |
        <a class="btn btn-inicio" asp-action="Index">Volver a la Lista</a>
    </form>
</div>
