@model TotalHRInsight.Models.Pedidos.PedidoViewModel

@{
    ViewData["Title"] = "Detalles Pedido";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">Detalles de Pedido</h1>
<hr />
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-sm">
                <div class="card-body">
                    <div>
                        <h4>Pedido</h4>
                        <hr />
                        <dl class="row">
                            <dt class="col-sm-2">ID</dt>
                            <dd class="col-sm-10">@Model.Pedido.IdPedido</dd>

                            <dt class="col-sm-2">Estado</dt>
                            <dd class="col-sm-10">@Model.Pedido.Estado.EstadoSolicitud</dd>

                            <dt class="col-sm-2">Sucursal</dt>
                            <dd class="col-sm-10">@Model.Pedido.Sucursal.NombreSucursal</dd>

                            <dt class="col-sm-2">Usuario Creación</dt>
                            <dd class="col-sm-10">@Model.Pedido.UsuarioCreacion.Nombre @Model.Pedido.UsuarioCreacion.PrimerApellido @Model.Pedido.UsuarioCreacion.SegundoApellido</dd>
                        </dl>

                        <h4>Productos</h4>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Producto</th>
                                    <th>Cantidad</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var pp in Model.PedidosProductos)
                                {
                                    <tr>
                                        <td>@pp.Producto.NombreProducto</td>
                                        <td>@pp.Cantidad</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="d-flex justify-content-between mt-4">
                        <a asp-action="Edit" asp-route-IdPedido="@Model.Pedido.IdPedido" class="btn btn-warning ms-2" style="flex: 1;" onclick="showLoader()">
                            <i class="bi bi-pencil-square"></i> Editar
                        </a>
                        <a asp-action="Index" class="btn btn-secondary ms-2" style="flex: 1;" onclick="showLoader()">
                            <i class="bi bi-arrow-left-circle"></i> Regresar
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Html.Partial("_LoaderModal")

    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
        <script src="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.js"></script>
        <script src="~/js/loader.js"></script>
    }
