@model TotalHRInsight.DAL.Deduccion

@{
    ViewData["Title"] = "Detalles de Deducciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1 class="text-center">Detalles de Deduccion</h1>
<hr />
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-sm">
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.FechaDeduccion)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.FechaDeduccion)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.NombreDeduccion)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.NombreDeduccion)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.MontoDeduccion)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.MontoDeduccion)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.UsuarioCreacion)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.UsuarioCreacion.Nombre)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.UsuarioAsignacion)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.UsuarioAsignacion.Nombre)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.TipoDeduccion)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.TipoDeduccion.NombreDeduccion)
                        </dd>

                    </dl>
                    <div class="d-flex justify-content-between mt-4">
                        <a asp-action="Edit" asp-route-IdDeduccion="@Model.IdDeduccion" class="btn btn-warning ms-2" style="flex: 1;" onclick="showLoader()">
                            <i class="bi bi-pencil-square"></i> Editar
                        </a>
                        <a asp-action="Index" class="btn btn-secondary ms-2" style="flex: 1;" onclick="showLoader()">
                            <i class="bi bi-arrow-left-circle"></i> Regresar
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@Html.Partial("_LoaderModal")

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.js"></script>
    <script src="~/js/loader.js"></script>
}