@model IEnumerable<TotalHRInsight.DAL.Deduccion>

@{
    ViewData["Title"] = "Lista de Deducciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="d-flex justify-content-between align-items-center my-4">
    <h1 class="mb-0">Lista de Deducciones</h1>
    <div>
        <a asp-action="Create" class="btn btn-danger me-2" onclick="showLoader()">
            <i class="bi bi-plus-circle"></i> Crear nuevo registro
        </a>
    </div>
</div>
<hr />
<div class="row row-cols-1 row-cols-md-3 g-4">
    @foreach (var item in Model)
    {
        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card h-100 shadow-sm">
                <div class="card-header bg-danger text-white d-flex justify-content-between align-items-center">
                    <h5 class="card-title mb-0">Deduccion #@item.IdDeduccion</h5>
                    <a asp-action="Detalles" asp-route-IdDeduccion="@item.IdDeduccion" class="btn btn-link text-white">
                    </a>
                </div>
                <div class="card-body">
                    <div class="mb-3">
                        <h6 class="text-muted">Información de Deducciones</h6>
                        <p class="mb-0"><strong>Nombre:</strong> @item.UsuarioAsignacion.Nombre @item.UsuarioAsignacion.PrimerApellido @item.UsuarioAsignacion.SegundoApellido</p>
                    </div>
                    <div class="mb-3">
                        <h6 class="text-muted">Detalles de la Deduccion</h6>
                        <p class="mb-0"><strong>Tipo de Deduccion:</strong> @item.TipoDeduccion.NombreDeduccion</p>
                        <p class="mb-0"><strong>Detalle de Deduccion:</strong> @item.NombreDeduccion</p>
                        <p class="mb-0"><strong>Monto:</strong> ₡ @item.MontoDeduccion</p>
                        <p class="mb-0"><strong>Fecha de Deduccion:</strong> @item.FechaDeduccion.ToString("dd/MM/yyyy")</p>
                        <p class="mb-0"><strong>Usuario Asignacion:</strong> @item.UsuarioCreacion.Nombre @item.UsuarioCreacion.PrimerApellido @item.UsuarioCreacion.SegundoApellido</p>
                    </div>
                </div>
                <div class="card-footer bg-light">
                    <div class="d-flex justify-content-between">
                        <a asp-action="Edit" asp-route-IdDeduccion="@item.IdDeduccion" class="btn btn-warning" onclick="showLoader()">
                            <i class="bi bi-pencil-square"></i> Editar
                        </a>
                        <a asp-action="Details" asp-route-IdDeduccion="@item.IdDeduccion" class="btn btn-info" onclick="showLoader()">
                            <i class="bi bi-info-circle"></i> Detalles
                        </a>
                        <a asp-action="Delete" asp-route-IdDeduccion="@item.IdDeduccion" class="btn btn-danger" onclick="showLoader()">
                            <i class="bi bi-trash"></i> Eliminar
                        </a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<!-- Incluir la vista parcial del loader modal -->
@Html.Partial("_LoaderModal")

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.js"></script>
    <script src="~/js/loader.js"></script>
}