@model IEnumerable<TotalHRInsight.DAL.Incidencia>

@{
    ViewData["Title"] = "Incidencias";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Incidencias</h1>

<p>
    <a asp-action="Create">Crear nuevo registro</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreIncidencia)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreIncidencia)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdIncidencia">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdIncidencia">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.IdIncidencia">Eliminar</a> |
                <a asp-action="" asp-route-id="@item.IdIncidencia">Descargar</a>
            </td>
        </tr>
}
    </tbody>
</table>
